@media screen and (max-width: 768px){

    .sidebar{
        position: fixed;
        width: 70%;
        left: 0;
        top: 0;

        box-shadow: 8px 0 40px 0 rgb(96 108 115 / 10%);
        border-right: 1px solid rgba(0,0,0,0.05);

        z-index: 2000;
        overflow-y: scroll;

        padding: 0.6rem 0rem;

        -webkit-transition: all 0.15s ease 0s;
        -moz-transition: all 0.15s ease 0s;
         transition: all 0.15s ease 0s;

         -webkit-transform: translateX(-290px);
         -moz-transform: translateX(-290px);
         transform: translateX(-290px);
    }

    .sidebar.collapse.show{
        height: 100%;

        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        transform: translateX(0);
    }

    .sidebar::-webkit-scrollbar{
        display: none;
    }
}

@media screen and (min-width: 576px){

    .modal-dialog{
        max-width: 700px;
        margin: 0 auto;
    }

    .md-modal .modal-dialog{
        max-width: 750px;
        margin: 0 auto;
    }
}